.login-link {
    color: #4254ff;
    font-family: DM Sans;
    cursor: pointer;
}
.login-link:hover {
    color: #4254ff;
    font-family: DM Sans;
    cursor: pointer;
}
.login-link:visited {
    color: #2339ff;
    font-family: DM Sans;
    cursor: pointer;
}