@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ethnocentric';
    src: url('/Ethnocentric Rg.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .font-ethnocentric {
    font-family: 'Ethnocentric', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.dark body {
    background-color: #374151; /* bg-neutral-700 */
}

html {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.dark html {
    background-color: #374151; /* bg-neutral-700 */
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 16px;}
  }

@keyframes flip-vertical {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.animate-flip-vertical {
  animation: flip-vertical 1s linear infinite;
}


